extends layout

block content
  .container
    .content
      if dreadnot
        h1 Deployment Stuffs
        if dreadnot.error
          p An error occurred: #{dreadnot.error}
        else
          h2
            !{JSON.stringify(dreadnot.data)}