extends layout

block append css
  link(href='/static/css/devhealth.less', rel='stylesheet/less', type='text/css')

block content
  | <script >
  | $(function() {
  |   $('.table-stats').tablesorter();
  | });
  | </script>
  .container
    .content
      if github
        h1 Development Health
        if github.error
          p The github API returned the following error:
          p.alert=trace(error)
        else

          h2 Repo: #{github.data.repo}
          hr

          each metric in github.data.metrics
            include includes/github_stats
