extends layout

block append css
  link(href='/static/css/devhealth.less', rel='stylesheet/less', type='text/css')

block content
  | <script >
  | $(function() {
  |   $('.table-stats').tablesorter();
  | });
  | </script>
  .container
    .content
      h1 Development Health
      each error in github.errors
        p Error: #{error}

      for metric in github.metrics
        include includes/github_stats



