extends layout

block append css
  link(href='/static/css/devhealth.less', rel='stylesheet/less', type='text/css')

block content
  | <script >
  | $(function() {
  |   $('.table-stats').tablesorter();
  | });
  | </script>
  .container
    .content
      h1 Development Health
      if github.error
        p Error: #{e}

      for metric in github.data
        include includes/github_stats
