extends layout

block content
  .container-fluid
    .row-fluid
      .span3
        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Sidebar
            li.active
              a(href='#') Link
            li
              a(href='#') Link
            li
              a(href='#') Link
            li
              a(href='#') Link
      .span9
        .hero-unit
          h1 Cluck cluck!
          p
            | This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
          p
            a.btn.btn-primary.btn-large Learn more »

    script(src='/static/jquery/jquery-1.7.1.min.js')
    script(src='/static/bootstrap/js/bootstrap.min.js')
