extends layout

block content
  .container-fluid
    .row-fluid
      .span3
        .well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Links
            each uri, name in links
              li
                a(href='#{uri}') #{name}
      .span9
        .hero-unit
          h1= name
          h2= description


      .span9
        .row-fluid
          .span3
            h1 Contacts
            .contacts
              for team in contacts
                include includes/team_contacts
          .span3
            if environments.length
              include includes/environments
            if pagerduty
              hr
              include includes/pagerduty

    script(src='/static/jquery/jquery-1.7.1.min.js')
    script(src='/static/bootstrap/js/bootstrap.min.js')
