// devopsjson uris.
/// keys are used in urls and also become capitalized menu item names
exports.devopsjson_uris = {
    "Full": "https://raw.github.com/racker/devopsjson/master/examples/example-full.json",
    "Simple": "https://raw.github.com/racker/devopsjson/master/examples/example-simple.json",
    "Min": "https://raw.github.com/racker/devopsjson/master/examples/example-minimum.json",
};

// where the crawled devopsjson data will end up
exports.saved_crawls_path = "fixtures";

// external projects
exports.external_projects = {
    //"another project": "https://anotherproject.example.com/_dashboard"
};

// links for the meta dashboard page
exports.metadashboard_uris = {
    //"a reference": "https://reference.com"
};

// credentials too sensitive for devops.json
exports.external_creds = {
    "Full": {
      "new_relic": {
        "apikey": "123456"
      }
    }
};
// show stack traces in errors to users when available
exports.debug = true;

// gutsy flushes the current state of services to disk this often (in seconds)
exports.flush_stats_time = 10;