// devopsjson uris.
/// keys are used in urls and also become capitalized menu item names
exports.devopsjson_uris = {
    "Full": "https://raw.github.com/racker/devopsjson/master/examples/example-full.json",
    "Simple": "https://raw.github.com/racker/devopsjson/master/examples/example-simple.json",
    "Min": "https://raw.github.com/racker/devopsjson/master/examples/example-minimum.json",
};

// where the crawled devopsjson data will end up
// on production deployments, this may need to be an absolute path
exports.saved_crawls_path = "fixtures";

// external projects
exports.external_projects = {
    //"another project": "https://anotherproject.example.com/_dashboard"
};

// links for the meta dashboard page
exports.metadashboard_uris = {
    //"a reference": "https://reference.com"
};

// credentials too sensitive for devops.json
exports.external_creds = {
    "Full": {
      "new_relic": {
        "apikey": "123456"
      }
    }
};

// Keys used for the API server- these must exist to support push updates
// Note: this path is from the root directory of the project
//exports.private_key = './keys/key.pem';
//exports.cert = './keys/cert.pem';

// A list of [username, password] for authenticating basic auth requests to the api
// This must be defined to support the API
//exports.valid_users = [
//    ['username', 'password']
//];

// Location of high scores server
/*
exports.highscores = {
    "url": "localhost",
    "port": 3000
}
*/

// show stack traces in errors to users when available
exports.debug = true;

// gutsy flushes the current state of services to disk this often (in ms)
exports.flush_stats_interval = 10 * 1000;

// testing flag- don't touch me
exports.testing = false;

exports.flush_file_path = '_service_stats.json';
exports.testing_flush_file_path = exports.flush_file_path + '.testing';
