.new_relic
  h1 NewRelic
  if new_relic.error
    p An error occurred: #{new_relic.error}
  else
    div
      ul
        - each metric in new_relic.data
          li
            strong #{metric.name} 
            \- #{metric.formatted_metric_value}

