.newrelic
  h1 NewRelic
  if new_relic.error
    p The new_relic API returned the following error:
    p.alert!=trace(new_relic.error)
  else
    div
      ul
        - each metric in new_relic.data
          li
            strong #{metric.name} 
            \- #{metric.formatted_metric_value}

