.versionone
  h1 VersionOne
  if versionone.error
    p #{versionone.error}
  else if versionone.data.error
    p API returned the following error:
    p.alert #{versionone.data.error.code}: #{versionone.data.error.message}
  else
    p Number of defects: #{versionone.data.total}
